
body{
	font-size: 16px;
	font-family: 'Livvic', sans-serif;

}


.wrapper {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 2em;
	grid-auto-rows: minmax(100px, auto);
	padding: 20em;
	text-align: center;
	padding-top: 100px;

}
.basic {
	border: 2px solid #dfdfdf;
}
.pro{
	border: 2px solid #dfdfdf;
	
}
.enter{
	border: 2px solid #dfdfdf;
	
}